<header>
 <h2><%= link_to "Meu Twitter", root_path, id: "logo" %></h2>
  <ul>
      <li><%= link_to "Home",    root_path	 %></li>
      <li><%= link_to "Ajuda",    help_path %></li>
      <li><%= link_to "Entrar", '#' %></li>
</ul>
</header>